---
// COMPONENTS //
import { Image } from "astro:assets";

// IMAGES //
import contactIllustration from "@/assets/contact-illustration.png";

const fieldRows = [
  [
    {
      label: "Name",
      name: "name",
      type: "text",
      placeholder: "Enter your Name",
    },
  ],
  [
    {
      label: "Email Address",
      name: "email",
      type: "email",
      placeholder: "you@email.com",
    },
    {
      label: "Phone Number",
      name: "phone",
      type: "tel",
      placeholder: "+1 XXXX XXXX XX",
    },
  ],
  [
    {
      label: "Reason",
      name: "reason",
      type: "text",
      placeholder: "Reason for Contact",
    },
  ],
] as const;
---

<section class="bg-n-50">

  <!-- Contact Form -->
  <div class="container mx-auto max-w-screen-2xl py-8 px-6 md:py-9 xl:px-44">

    <!-- Outer Box -->
    <div class="rounded-3xl bg-blue-50 p-3 md:p-6">
      
      
      <div class="grid gap-4 xl:grid-cols-12 xl:gap-6">
        <div class="xl:col-span-8">
          <div class="bg-n-50 rounded-3xl p-6 md:p-8">
            <div class="">
              <div class="space-y-5 md:space-y-6">

                <!-- Form Title -->
                <p class="text-n-900 text-xl leading-7 font-bold md:text-2xl">Reach out to us!</p>

                <form class="space-y-4 md:space-y-6">
                  {
                    fieldRows.map((fieldRow) => (
                      <div
                        class:list={[
                          "grid gap-4",
                          fieldRow.length === 2 ? "md:grid-cols-2 md:gap-6" : "",
                        ]}
                      >

                        {/* Iterating through Form Input fields */}
                        {fieldRow.map((field) => (
                          <label class="block space-y-1">
                            <span class="text-n-950 block text-base leading-5 font-semibold">
                              {field.label}
                            </span>
                            <input
                              type={field.type}
                              name={field.name}
                              placeholder={field.placeholder}
                              class="bg-n-100 text-n-800 placeholder:text-n-400 w-full rounded-xl border border-transparent px-4 py-3 text-lg leading-6 transition-shadow duration-300 outline-none focus:ring-2 focus:ring-blue-500 md:py-4"
                            />
                          </label>
                        ))}
                      </div>
                    ))
                  }

                  <label class="block space-y-1">
                    <span class="text-n-950 block text-base leading-5 font-semibold">
                      Message
                    </span>

                    <!-- Message Section -->
                    <textarea
                      name="message"
                      placeholder="Tell us what's on your mind..."
                      class="bg-n-100 text-n-800 placeholder:text-n-400 min-h-44 w-full rounded-xl border border-transparent px-4 py-3 text-lg leading-6 transition-shadow duration-300 outline-none focus:ring-2 focus:ring-blue-500 md:py-4"
                    ></textarea>
                  </label>

                  <!-- Send Message Button -->
                  <button
                    type="submit"
                    class="text-n-50 w-full rounded-full bg-blue-500 px-6 py-3 text-sm leading-6 font-bold transition-colors duration-300 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:outline-none"
                  >
                    Send Message
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="xl:col-span-4">

          <!-- Contact Illustration Section -->
          <div
            class="bg-n-50 relative h-full overflow-hidden rounded-4xl px-4 py-4 md:px-7 md:py-6"
          >
            <div
              class="absolute top-12 -right-16 size-64 rounded-full bg-blue-100/20 md:top-44 md:-right-24 md:size-88"
            >
            </div>


            <div class="relative z-10 flex h-full flex-col gap-10 md:gap-24">
              <div class="space-y-3 md:space-y-5">
                <div class="mx-auto max-w-sm md:max-w-60 xl:max-w-sm">
                  <Image
                    src={contactIllustration}
                    alt="An advisor at a desk ready to help with driving school questions."
                    width={472}
                    height={516}
                    class="h-auto w-full"
                  />
                </div>


                <p class="text-n-800 text-xl leading-tight font-semibold md:text-3xl">
                  We normally get back to you within <span class="font-bold">24 hours</span>.
                </p>
              </div>

              <div class="space-y-3.5 md:space-y-6">
                <div class="border-n-200 border-t"></div>
                <p class="text-n-600 text-sm leading-tight md:text-base">
                  Our team is here to help you every step of the way.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
