---
// COMPONENTS //
import { Icon } from "astro-icon/components";
import Button from "@/components/ui/Button.astro";

// CONSTANTS //
import { URLS } from "@/infrastructure/constants/urls";


interface CourseCardProps {
  title: string;
  price: string;
  duration: string;
  practice?: {
    label: string;
    value: string;
  };
  classroom?: {
    label: string;
    value: string;
  };
  features: string[];
  theme: "light" | "brand";
  badge?: string;
}

const card = Astro.props as CourseCardProps;
const hasPracticeHours = Boolean(card.practice?.value?.trim());
const hasClassroomHours = Boolean(card.classroom?.value?.trim());
const showDivider = hasPracticeHours && hasClassroomHours;
---

<div
  data-course-card
  class="relative flex h-full w-full"
  style="opacity: 0; transform: translateY(26px);"
>

  <!-- Course Details Card -->
  <div
    class:list={[
      "relative flex h-full w-full flex-col justify-between overflow-hidden rounded-4xl border p-5 lg:p-6 2xl:p-10",
      card.theme === "brand"
        ? "text-n-50 border-blue-500 bg-blue-500"
        : "border-n-300 bg-n-50 text-n-800",
    ]}
  >
    
    <!-- Ellipse Background -->
    <div
      class:list={[
        "absolute top-1/2 left-1/2 size-88 rounded-full bg-blue-100 opacity-30",
        card.theme === "brand" ? "opacity-90" : "opacity-100",
      ]}
    >
    </div>

    <div class="relative z-10 flex flex-col gap-5 lg:gap-6">
      
      <!-- Course Title & Price -->
      <div class="flex items-start justify-between gap-3">
        <div class="flex flex-1 flex-col gap-3">
          
          <!-- Course Title -->
          <p
            class:list={[
              "text-sm leading-tight font-bold tracking-[1.4px] uppercase",
              card.theme === "brand" ? "text-n-50" : "text-blue-500",
            ]}
          >
            {card.title}
          </p>
          
          <!-- Course Price -->
          <div class="flex items-end gap-1">
            <p
              class:list={[
                "text-3xl leading-none font-bold lg:text-4xl 2xl:text-5xl",
                card.theme === "brand" ? "text-n-50" : "text-n-800",
              ]}
            >
              {card.price}
            </p>
            <p
              class:list={[
                "text-sm font-semibold",
                card.theme === "brand" ? "text-n-200" : "text-n-500",
              ]}
            >
              +GST
            </p>
          </div>
        </div>
      </div>

      
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
          
          
          {
            hasPracticeHours && (
              <div class="flex flex-1 items-center gap-3 2xl:flex-none">
                
                <!-- Car Practice Icon -->
                <div
                  class:list={[
                    "flex shrink-0 size-8 items-center justify-center rounded-2xl",
                    card.theme === "brand" ? "bg-n-50/13" : "bg-blue-500/10 text-blue-500",
                  ]}
                >
                  <Icon
                    name={card.theme === "brand" ? "steering-wheel" : "steering-wheel"}
                    class:list={["size-4", card.theme === "brand" ? "text-n-50" : "text-n-800"]}
                    aria-hidden="true"
                  />
                </div>

                <!-- Car Practice Details -->
                <div class="flex flex-col leading-tight">
                  <p
                    class:list={[
                      "text-xs font-medium",
                      card.theme === "brand" ? "text-n-200" : "text-n-500",
                    ]}
                  >
                    {card.practice?.label}
                  </p>
                  <p
                    class:list={[
                      "text-lg leading-tight font-bold",
                      card.theme === "brand" ? "text-n-50" : "text-n-800",
                    ]}
                  >
                    {card.practice?.value}
                  </p>
                </div>
              </div>
            )
          }

          {
            showDivider && (
              <>
                <!-- Divider Line -->
                <div
                  class:list={[
                    "hidden h-8 w-px md:block",
                    card.theme === "brand" ? "bg-n-50/30" : "bg-n-200",
                  ]}
                >
                </div>

                <div
                  class:list={[
                    "block h-px w-full md:hidden",
                    card.theme === "brand" ? "bg-blue-200" : "bg-n-200",
                  ]}
                >
                </div>
              </>
            )
          }

          {
            hasClassroomHours && (
                <div class="flex flex-1 items-center gap-3">
                  
                  <!-- Classroom Icon -->
                  <div
                    class:list={[
                      "flex shrink-0 size-8 items-center justify-center rounded-2xl",
                      card.theme === "brand" ? "bg-n-50/13" : "bg-blue-500/10 text-blue-500",
                    ]}
                  >
                    <Icon
                      name={card.theme === "brand"
                        ? "whiteboard-classroom-course"
                        : "whiteboard-classroom-course"}
                      class:list={["size-4", card.theme === "brand" ? "text-n-50" : "text-n-800"]}
                      aria-hidden="true"
                    />
                  </div>
                  
                  <!-- Classroom Hours Details -->
                  <div class="flex flex-col leading-tight">
                    <p
                      class:list={[
                        "text-xs font-medium",
                        card.theme === "brand" ? "text-n-200" : "text-n-500",
                      ]}
                    >
                      {card.classroom?.label}
                    </p>
                    <p
                      class:list={[
                        "text-lg leading-tight font-bold",
                        card.theme === "brand" ? "text-n-50" : "text-n-800",
                      ]}
                    >
                      {card.classroom?.value}
                    </p>
                  </div>
                </div>
            )
          }
        </div>

        <div class="flex flex-col gap-2.5">
          {
            card.features.map((feature) => (
              <div class="flex items-start gap-3">
                <Icon
                  name={card.theme === "brand" ? "check-circle-inverse" : "check-circle"}
                  class:list={[
                    "mt-0.5 size-4 shrink-0",
                    card.theme === "brand" ? "text-n-50" : "text-green-500",
                  ]}
                  aria-hidden="true"
                />
                <p
                  class:list={[
                    "text-sm leading-5",
                    card.theme === "brand" ? "text-n-50 font-semibold" : "text-n-800 font-normal",
                  ]}
                >
                  {feature}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <div class="relative z-10">
      <Button value="Select Package" theme={card.theme} href={URLS.ENROLL} />
    </div>
  </div>
</div>
