---
// TYPES //
import type { TestimonialData } from "@/types/testimonial";

// COMPONENTS //
import { Image } from "astro:assets";
import Avatar from "@/components/Avatar.astro";
import RatingStars from "@/components/RatingStars.astro";

// IMAGES //
import googleLogo from "public/images/google-logo.png";

interface Props {
  testimonial: TestimonialData;
  rating: number;
}

const { testimonial, rating } = Astro.props;
---

<!-- TestimonialCard Component -->
<div
  class="relative flex h-[372px] w-[383px] max-w-full flex-col overflow-hidden rounded-4xl border border-n-900 bg-n-900 justify-self-center"
>
  <div
    class="relative z-10 flex min-h-full flex-1 flex-col justify-end gap-5 overflow-hidden rounded-4xl bg-n-50 px-6 pb-6 pt-6 md:pt-8"
  >
    <RatingStars rating={rating} starClass="size-5" />

    <!-- Testimonial text -->
    <div class="w-full">
      <p
        class="text-base leading-tight text-n-900"
      >
        {testimonial.review}
      </p>
    </div>

    <div class="flex w-full items-center justify-center gap-2.5">
      <div class="flex flex-1 items-center gap-2.5">
        <Avatar
          src={testimonial.profilePhoto}
          alt={`${testimonial.name} profile photo`}
          wrapperClass={[
            "size-10 overflow-hidden rounded-4xl border-2 border-n-900",
          ]}
          imageClass="size-full rounded-4xl object-cover"
          width={40}
          height={40}
        />

        <!-- Name and role -->
        <div
          class="flex flex-1 flex-col gap-0.5 leading-tight text-n-900"
        >
          <p class="text-base font-semibold leading-tight">{testimonial.name}</p>
          <p class="text-xs font-normal leading-tight">{testimonial.role}</p>
        </div>
      </div>

      <!-- Google Logo -->
      <div class="size-6">
        <Image src={googleLogo} alt="Google logo" class="block size-full" loading="lazy" referrerpolicy="no-referrer"/>
      </div>
    </div>
  </div>
</div>
