---
// COMPONENTS //
import SectionHeader from "@/components/SectionHeader.astro";

// DATA //
import { getAboutFounderViewModel } from "@/data/site-content-mappers";
import { Image } from "astro:assets";

const founderContent = await getAboutFounderViewModel();

---

<section class="bg-n-50">
  <div class="container mx-auto flex w-full flex-col items-center gap-7 px-6 py-14 md:gap-12 md:px-8 lg:gap-14">

    <!-- Section Header -->
    <SectionHeader
      eyebrow={founderContent.eyebrow}
      heading={founderContent.heading}
    />

    <!-- Content -->
    <div class="flex w-full flex-col items-center gap-7 md:gap-14 lg:flex-row lg:gap-16">
      
      <!-- Founder Image -->
      <div class="h-71 md:h-114 lg:h-135">
        <Image
          src={founderContent.imageSrc}
          alt={founderContent.imageAlt}
          height={537}
          width={465}
          class="h-full w-full rounded-3xl object-cover md:rounded-4xl" 
          />
      </div>

      <div class="flex w-full flex-col gap-7 md:gap-11 lg:gap-12">
        
        <!-- Founder Story Paragraph -->
        <div class="flex w-full flex-col gap-4 text-sm text-n-800 md:gap-5 md:text-base lg:gap-6 lg:text-lg">
          {founderContent.paragraphs.map((paragraph) => (
            <p>{paragraph}</p>
          ))}
        </div>

        <div class="flex w-full items-center gap-2.5 border-t border-n-300 pt-4 md:gap-3.5 md:pt-5 lg:gap-4 lg:pt-6">
          
          <!-- Decorative Black Element -->
          <span class="h-12 w-1 bg-n-950"></span>
          
          <!-- Founder Name and Title -->
          <div class="flex flex-col items-start gap-1">
            <p class="text-lg font-bold text-n-700 md:text-xl">
              {founderContent.name}
            </p>
            <p class="text-xs font-semibold uppercase tracking-[1.4px] text-n-400 md:text-sm">
              {founderContent.title}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
