---
import { Image } from "astro:assets";
import { footerSectionData } from "@/data/footer-section-data";

interface Props {
  containerClass?: string;
  markClass?: string;
  textClass?: string;
  textAlt?: string;
}

const {
  containerClass = "relative block h-14 w-36",
  markClass = "absolute top-0 left-0 h-full w-12 object-contain",
  textClass = "absolute top-1/2 left-11 h-8 w-28 -translate-y-1/2 object-contain",
  textAlt = footerSectionData.logo.alt,
} = Astro.props as Props;
---

<div class={containerClass} role="img" aria-label={textAlt}>
  <Image
    src={footerSectionData.logo.mark}
    alt=""
    width={65}
    height={82}
    class={markClass}
    loading="lazy"
    aria-hidden="true"
  />
  <Image
    src={footerSectionData.logo.text}
    alt={textAlt}
    width={144}
    height={42}
    class={textClass}
    loading="lazy"
  />
</div>
