---
// COMPONENTS //
import StatCard from "@/components/StatCard.astro";
import SectionHeader from "@/components/SectionHeader.astro";

// DATA //
import { numberStatsData } from "@/data/numberSection";
import { statHeaderData } from "@/data/numberSection";

---

<section class="bg-n-100">
  <div class="container mx-auto flex w-full flex-col items-center gap-9 px-6 py-20 sm:px-0 sm:gap-10 lg:gap-12 lg:px-0 lg:py-28">
    
    <!-- Section Header -->
    <SectionHeader
      eyebrow={statHeaderData.eyebrow}
      heading={statHeaderData.heading}
    />

    <!-- StatCard -->
    <div class="grid w-70 grid-cols-1 gap-3.5 px-6 md:w-full md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
      {numberStatsData.map((stat) => (
        <StatCard icon={stat.icon} value={stat.value} label={stat.label} />
      ))}
    </div>
  </div>
</section>
