---
// COMPONENTS //
import { Icon } from "astro-icon/components";

interface Props {
  buttonText?: string;
  leftIcon?: string;
  rightIcon?: string;
  id?: string;
  onClick?: string;
  type?: "button" | "submit" | "reset";
  variant?: "primary" | "outline" | "default";
  href?: string;
  openInNewTab?: boolean;
  className?: string;
}

const {
  buttonText = "",
  leftIcon = "",
  rightIcon = "",
  onClick = "",
  type = "button",
  variant = "primary",
  id,
  href = "",
  openInNewTab = false,
  className = "",
} = Astro.props as Props;

const variantClassNames = {
  primary:
    "bg-blue-500 text-n-50 hover:scale-[1.04] hover:bg-blue-600 focus-visible:ring-2 focus-visible:ring-blue-200",
  outline:
    "border-2 border-blue-500 bg-transparent text-blue-500 hover:scale-[1.04] hover:bg-blue-50 focus-visible:ring-2 focus-visible:ring-blue-200",
  default:
    "bg-blue-500 text-n-50 hover:scale-[1.04] hover:bg-blue-600 focus-visible:ring-2 focus-visible:ring-blue-200",
};

const baseClassName = `flex h-9 lg:h-10 items-center justify-center gap-1.5 rounded-3xl px-3.5 text-sm leading-[1.69] font-semibold whitespace-nowrap transition-all duration-200 focus:outline-none ${variantClassNames[variant]} ${className}`;
const hasDefaultSlot = Astro.slots.has("default");
---

{
  href ? (
    <a
      href={href}
      id={id}
      target={openInNewTab ? "_blank" : undefined}
      rel={openInNewTab ? "noopener noreferrer" : undefined}
      onclick={onClick || undefined}
      class={baseClassName}
    >
      {
        hasDefaultSlot ? (
          <slot />
        ) : (
          <div class="flex items-center gap-2">
            {leftIcon && <Icon name={leftIcon} class="size-4" />}
            <span>{buttonText}</span>
            {rightIcon && <Icon name={rightIcon} class="size-4" />}
          </div>
        )
      }
    </a>
  ) : (
    <button
      id={id}
      type={type}
      onclick={onClick || undefined}
      class={baseClassName}
    >
      {
        hasDefaultSlot ? (
          <slot />
        ) : (
          <div class="flex items-center gap-2">
            {leftIcon && <Icon name={leftIcon} class="size-4" />}
            <span>{buttonText}</span>
            {rightIcon && <Icon name={rightIcon} class="size-4.5" />}
          </div>
        )
      }
    </button>
  )
}
